.hotel {
  border:none !important;
  margin-bottom: 20px;
  background-color: rgb(236 236 236);
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
}
.description {
  /* color: grey; */
  margin-top: 10px;
  font-size: 0.88rem;
  margin-bottom: 0;
}
.card{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.25rem;

}
.thumbnail{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
  border-radius: 0.25rem;
  max-width:60%;
  height: auto;
}
.badge{
  display: inline-block;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.tag{
font-weight: bold;
}